<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Development" connectionString="Server=rosebloom.arvixe.com;Database=POS1;User ID=sqlaccount;Password=P@$$w0rd;Min Pool Size=1;Max Pool Size=1;Load Balance Timeout=15" providerName="System.Data.SqlClient" />
		<add name="Test" connectionString="Server=rosebloom.arvixe.com;Database=POS1;User ID=sqlaccount;Password=P@$$w0rd;Min Pool Size=1;Max Pool Size=1;Load Balance Timeout=15" providerName="System.Data.SqlClient" />
		<add name="Production" connectionString="Server=rosebloom.arvixe.com;Database=POS1;User ID=sqlaccount;Password=P@$$w0rd;Min Pool Size=1;Max Pool Size=1;Load Balance Timeout=15" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ConnectionStringToUse" value ="Development"/>
	</appSettings>
</configuration>
			
